<%= form_with(model: @main_table, url: "#{@main_url}/#{@main_table.id}" , method: :delete, local: false, html: { id: 'main_form', data: { parsley_validate: true } }) do |form| %>

  <div class="field">
    Nombre:
    <input class="form-control" disabled value="<%= @main_table.app_system_name %>"  >
  </div>

  <div class="field mt-3">
    Motivo de eliminación:
    <%= form.text_area :deleted_description, required: true, data: { parsley_required: "true", parsley_minlength: "3" }, class: "form-control" , rows: 3 %>
  </div> 
  
<% end %>