<div class="field">
  <%= dynamic_translation('resource_name') %>
  <input class="form-control" disabled value="<%= @main_table.resource_name %>" >
</div>
 
<div class="field mt-3">
  <%= dynamic_translation('action_name') %>
  <input class="form-control" disabled value="<%= @main_table.action_name %>" >
</div>
 