<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <b>Productos Populares</b>
      </div>
      <div class="card-body">    
         <canvas id="mostSoldProductsChart" width="400" height="200" aria-label="Most Sold Products Chart" role="img"></canvas>
      </div>            
    </div>
  </div>
</div>