<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <b>Ventas por Tipo de Pago</b>
      </div>
      <div class="card-body">    
         <canvas id="paymentsChart" width="200" height="100" aria-label="Payments Chart" role="img"></canvas>
      </div>            
    </div>
  </div>
</div>