<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <b>Estadísticas de Ventas</b>
      </div>
      <div class="card-body">    
         <canvas id="salesChart" width="400" height="200" aria-label="Sales Chart" role="img"></canvas>
      </div>            
    </div>
  </div> 
</div> 